*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.logo{
 padding: 5px 0 0 70px;
 width: 210px;
 height: 120px;
 float: left;
 margin-left: 30px;
}
nav{
  height: 140px;
  background: #523c7e;
}
nav ul{
  float:right;
}
nav ul li{
  display:inline-block;
}
nav ul li a{
  color: white;
  display: block;
  padding: 0 15px;
  font-size:22px;
  background: #523c7e;
  line-height: 100px;
  letter-spacing:2px;
}
nav ul li a:hover
{
  color: #917eb9;
}
nav ul ul{
 position:fixed;
  opacity:0;
  visibility: hidden;
  top: 85px;
}
nav ul li:hover > ul{
  top:61px;
  opacity: 2;
  visibility: visible;
  transition: .3s;
}
nav ul ul li{
  border: 3px solid #917eb9;
  display: list-item;
}