*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  font-family:sans-serif;
  overflow: hidden;
  user-select: none;
}
.logo{
 padding: 5px 0 0 80px;
 width: 200px;
 height:150px;
 float: left;
 margin-left: 30px;
 line-height: 80px;
 border-radius: 15px;
}
nav{
  height: 140px;
  background: #523c7e;
  box-shadow: 0 3px 15px #fff ;
 
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  display: block;
  padding: 0 15px;
  font-size:22px;
  background: #523c7e;
  transition:.5s;
  line-height: 100px;
  letter-spacing: 1px;
  justify-content: space-around;
}
nav ul li a:hover
{
  color: #fff;
}
nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #fff ;
  opacity:0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top:60px;
  opacity: 1;
  visibility: visible;
  transition: .3s;
}
nav ul ul li{
  width: 130px;
  display: list-item;
  position: relative;
  border: 1px solid #fff ;
  border-top: none;
}

