.volunteering{
    margin: 0 0 ;
    width: 98%;
    height: 650px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid rgb(121, 78, 129) ;
    background: rgba(56, 15, 56, 0.973) ;

 
 }
 
 .v-img{
     float: right;
     margin-left: 10px;
     width: 600px;
     height: 650px;
     padding: 0 10px  0 0;
     border-radius: 8px;
 }
    

     
 
 .text{
     text-align: justify;
     font-family: Verdana;
     color: darkgray ;
    
 }
